name: Backend Static Code Checks

on:
  pull_request:
  push:
    branches:
      - "main"
      - "release-**"

env:
  DEFAULT_PYTHON_VERSION: "3.10.16"

jobs:
  ###################
  ## Static Checks ##
  ###################
  Static-Checks:
    runs-on: self-hosted
    continue-on-error: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Run Static Checks
        run: just run-static-analysis
